button {
  &:hover {
    cursor: pointer;
  }
}
.to-top {
  display: none;
  background-color: #22252c;
  border: 2px solid #05c7ae;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: .3s;
  z-index: 9999;
  i {
    font-size: 30px;
    color: #05c7ae;
  }
  &:hover {
    background-color: #05c7ae;
    box-shadow: 2.121px 2.121px 43px 0px rgba(38, 225, 178, 0.34);
    i {
      color: #22252c;
    }
  }
}
#menu {
  position: relative;
  border: none;
  background: transparent;
  height: 30px;
  width: 50px;

  &:before,
  &:after {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: .75s;
    width: 50px;
  }

  &:before {
    box-shadow: #fff 0 14px 0 0;
    position: absolute;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 2px);
  }

  &.open {
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 50%;
      transform: rotate(225deg);
    }

    &:after {
      top: 50%;
      transform: rotate(315deg);
    }
  }
}
.button {
  display: inline-block;
  font-size: 0.929rem;
  padding: 20px 25px;
  background: -webkit-linear-gradient( 5deg, rgb(0,215,197) 0%, rgba(25,204,126,0.96) 53%, rgba(11,239,156,0.92157) 100%);
  color: $white;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    box-shadow: 2.121px 2.121px 43px 0px rgba(38, 225, 178, 0.34);
  }
}
.hire-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 55px;
  background: $title-color;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: $brand-color;
}
