@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html {
  font-size: 14px;
}
body {
  @include font(400, 14px, $main-font);
}
h1 {
  @include font(300, 6em, $main-font);
  &:first-letter {
    margin-left: -0.075em;
  }
  color: $white;
}
h2 {
  @include font(300, 8.571em, $main-font);
  &:first-letter {
    margin-left: -0.075em;
  }
  color: $white;
}
h3 {
  @include font(700, 3.214em, $main-font);
  text-transform: uppercase;
}
.gradient {
  background: -webkit-linear-gradient( 5deg, rgb(0,215,197) 0%, rgba(25,204,126,0.96) 53%, rgba(11,239,156,0.92157) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


