#skills {
  padding-top: 0;
  background-color: $second-brand-color;
  .title {
    background-color: $third-brand-color;
    padding: 130px 0;
    margin-bottom: 65px;
    .container {
      justify-content: center;
    }
  }
}